div.row(style:"padding-left:0px;")
				div(style="padding-left:0px;margin:0px;padding-bottom:0px;margin-bottom:0px;background-color:white")
					div.navbar.navbar-defaut(style="margin-bottom:0px;border:0px;")
						div.navbar-header.col-sm-2(style="background-color:#3a3f51;color:white;")
							a.navbar-brand(href="home" style="color:blue") BISWAJIT SAHA
						div.nav.navbar-nav.navbar-right(style="margin-right:10px")
							div.dropdown
								a.dropdown-toggle.clear(href="#" data-toggle="dropdown") 
									span
										img(src="")
									span=name
										b.caret
								ul.dropdown-menu
									li
										a(href="#")=id

									li
										a(href="#") 52% out of 100%

									li.progress(style="width: 80%;height:10px;margin-left:10px")
										div.progress-bar.progress-bar-info(role="progressbar" style="width: 52%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
									li.divider

									li
										a(href="#") Settings

									li
										a(href="profile") Profile

									li.divider

									li
										a(href="logout") Logout	
