div.col-sm-2(style="padding-right:0px;padding-top:0px;padding-left:0px;background-color:#3a3f51;height:100%")
	div.row
		ul.list-group
			li.list-group-item(style="background-color:#3a3f51;border:0px")
				i.glyphicon.glyphicon-stats
				a(href="home" style="color:white") Dashboard
				 


			li.list-group-item(style="background-color:#3a3f51 ;color:white " )
				i.fa.fa-fw.fa-angle-right.text
				i.fa.fa-fw.fa-angle-down.text-active
				i.glyphicon.glyphicon-file
				span Customer Manager
				ul.nav.nav-sub 
					
											
					li
						a(href="newcustomer" style="color:white") Add Customer
					li
						a(href="Customersummary" style="color:white") Customer Summary
			li.list-group-item(style="background-color:#3a3f51")
				a(href="items" style="color:white" ) Product Summary
			li.list-group-item(style="background-color:#3a3f51")
				a(href="profile" style="color:white") Profile
			li.list-group-item(style="background-color:#3a3f51")
				a(href="#" style="color:white") Help