div.col-sm-2(style="border: 1px  solid #dee5e7 ;background-color:white;height:100%")
					div.row
						div.col-sm-12.text(style="border-bottom: 1px solid lightblue;margin-left:0px ;height:30px;padding-top:5px") Notification list
							 
					div.row
						div.col-sm-12(style="margin-left:0px;margin-top:45px") 
							div Exam Date :
							
							div 20th April, 2018
							br
							
							div Application Closing Date :
							
							div 29th May, 2018
							br
							
							div Admit Card :							 
							div Coming Soon!
							br

							button More Notifications